<% const columns=component.columns; %>
	<% if (component.type && component.type==="checklist" ) { %>
		<tr>
			<% if (row.checked) { %>
				<td class="svg-cell" style="width: 74px;">
					<svg style="fill:rgb(76, 175, 80); color:rgba(0,0,0,0.87);" xmlns="http://www.w3.org/2000/svg"
						width="24" height="24" viewBox="0 0 24 24">
						<path
							d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" />
					</svg>
				</td>
				<% } else { %>
					<td class="svg-cell" style="width: 74px;">
						<svg style="fill:rgb(158, 158, 158); color:rgba(0,0,0,0.87);" xmlns="http://www.w3.org/2000/svg"
							width="24" height="24" viewBox="0 0 24 24">
							<path
								d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" />
						</svg>
					</td>
					<% } %>
						<td colspan="1">
							<%= row.text %>
						</td>
		</tr>
		<% } else { %>
			<tr>
				<% columns.map((column, index)=> { %>
					<% const prop=column.property; %>
						<% let time="" ; %>
							<% if (prop==="time" || column.type==="date" ) { %>
								<% time=moment.tz(row[prop], timezone).format(`MM/DD/YYYY
									${timeFormatPreference==="24-hour" ? "HH:mm z" : "hh:mm A z" }`); %>
									<% } %>
										<% const width=column.width ? column.width : 1 %>
											<td colspan=`${width}` class="<%= locale === 'ar' ? 'rightAlign' : '' %>">
												<% if (prop==="email" ) { %>
													<a href=`mailto:${row[prop]}`>
														<%= row[prop] %>
													</a>
													<% } else if (prop==="time" || column.type==="date" ) { %>
														<%= time %>
															<% } else { %>
																<%= row[prop] %>
																	<% } %>
											</td>
											<% }); %>
			</tr>
			<% } %>